div#home,div#profile,div#contact{
	height: 280px;
	padding: 3%;
	background-color: #ddd;
	background: url("../image/home.jpg");
}

canvas#profilePic{
	margin: 0% 25%;
	height: 200px;
	width: 50%;
}

h1,h2{
	color: #cfcfcf;
}

.column{
	opacity: 0.9;
	filter: alpha(opacity=90);
}

canvas{
	border: 1px solid #d3d3d3;	
}