h1,h2{
	color: #cfcfcf;
}
#home{
	height: 500px;
	background-image: url('../images/background1.jpg');
}

.homeData{
	margin-top: 100px;
}

#profilePic{
	position: absolute;
	shape-outside: box;
	margin-left: 5%;
	width: 60%;
	float: left;
}

.footer {
	padding-top: 50px;
	background-color: #444;
}

.footer ul{	
	list-style-type: none;
}
.footer li{
	margin: 8px;
	display: inline;
}

.footer img{
	height: 48px;
	width: 48px;
}

.footer img:hover{
	background-color: #eee;
}

.footer p{
	margin-top: 50px;
	margin-bottom: 50px;
	color: #fff;
}